body {
    background-color:rgb(0, 0, 0);

   
}
.maindiv{ 
    width: 400px;
    height: 350px;
    padding: 20px;
    background-color:rgb(246, 249, 250);
    border-radius:5px;
    
}


h1{
    font-size:"15px";
    color:rgb(133, 127, 120);
}
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 400;
    background-color:rgb(246, 249, 250);
    color : black;
    text-align: left;
 }
 .button {
     font-size: 10px;
     width: 100px;
     height: 30px;
     border-radius: 5px;
     border:  none;
 }


